// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social_btn {
  width: 100px;
  border: 5px solid gray;
  padding: 10px 10px 5px 5px;
  margin: 10px;
  text-align: center;
  background-color: #99c;
  border-radius: 7px ;
  font-size: 14px;
}

